sudo: required
language: cpp


env:
  global:
   - MAKEFLAGS="-j 2"

matrix:
  include:

    # 1/ Linux Clang Builds
    - os: linux
      compiler: clang
      addons: &clang38
        apt:
          sources: 
            - llvm-toolchain-trusty-3.8
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-5-dev
            - clang-3.8
            - cmake
            - cmake-data
      env: 
        - COMPILERCXX='clang++-3.8'
        - COMPILERC='clang-3.8'

    - os: linux
      compiler: clang
      addons: &clang39
        apt:
          sources: 
            - llvm-toolchain-trusty-3.9
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-6-dev
            - clang-3.9
            - cmake
            - cmake-data
      env: 
        - COMPILERCXX='clang++-3.9'
        - COMPILERC='clang-3.9'

    - os: linux
      compiler: clang
      addons: &clang40
        apt:
          sources: 
            - llvm-toolchain-trusty-4.0
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-6-dev
            - clang-4.0
            - cmake
            - cmake-data
      env: 
        - COMPILERCXX='clang++-4.0'
        - COMPILERC='clang-4.0'
    
    - os: linux
      compiler: clang
      addons: &clang50
        apt:
          sources: 
            - llvm-toolchain-trusty-5.0
            - ubuntu-toolchain-r-test
          packages:
            - libstdc++-7-dev
            - clang-5.0
            - cmake
            - cmake-data
      env: 
        - COMPILERCXX='clang++-5.0'
        - COMPILERC='clang-5.0'
    
    # 2/ Linux GCC Builds
    - os: linux
      compiler: gcc
      addons: &gcc5
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - cmake
            - cmake-data
      env:
        - COMPILERCXX='g++-5'
        - COMPILERC='gcc-5'

    - os: linux
      compiler: gcc
      addons: &gcc6
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - cmake
            - cmake-data
      env:
        - COMPILERCXX='g++-6'
        - COMPILERC='gcc-6'
        
    - os: linux
      compiler: gcc
      addons: &gcc7
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cmake
            - cmake-data
      env:
        - COMPILERCXX='g++-7'
        - COMPILERC='gcc-7'
        
  
script:
  - git submodule update --init --recursive
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=./install -DCMAKE_C_COMPILER=$COMPILERC -DCMAKE_CXX_COMPILER=$COMPILERCXX ..
  - cmake --build .
